In [1]:
import sys
sys.path.append('../')

In [2]:
from application.name_obj_classes import PubName, PersonName

In [3]:
from application.review_obj_class import ReviewObj

In [6]:
import pandas as pd
import os

In [7]:
# loading in files
directory = "../../aps_reviews_50/aps_reviews/"
filenames = os.listdir(directory)
txts = []
for file in filenames:
    with open(directory + file) as f:
        txts.append(f.read())

In [11]:
review_list = []
for filename, txt in zip([x.split('.')[0] for x in filenames], txts):
    review_list.append(ReviewObj(filename, txt))

In [26]:
for x in review_list:
    print(x.pub_names)

['E. P. Dutton & Co.', 'A. S. Barnes & Co.', 'Ginn, Heath & Co.', 'E. P. Dutton & Cov', 'Thomas Y. Crowell & Co.', 'American Historical Society', 'American Historical Society', 'Dunlap Society']
['The Gadfly. By E. L. VWynich. Henry Holt & Co.']
[]
[]
[]
['Filtlh Co']
['BOSTON: GINN & Co.', 'CAGO: CHAS. 1I. KnRR & Co.', 'American Geographical Society', 'BosTON: Gl1N & Co.', 'Messrs. Ginn & Co.', 'A. S. BARNES & Co.', 'BOSTON AND LONDON GINN & Co.', 'BOSTON: GINN & Co.', 'CAGO: CHAS. 1I. KnRR & Co.', 'BosTON: Gl1N & Co.', 'Messrs. Ginn & Co.', 'A. S. BARNES & Co.']
[]
[]
[]
[]
[]
[]
['Publishers']
['Robert Clarke Co', 'Graphic Company']
['259. J. B. Lippincott Co.', '05. Macmillan Co.', '259. J. B. Lippincott Co.', '05. Macmillan Co.', '404. Maemillall Co.']
[]
['Mead & Co.', '& Co.', 'Mead & Co.', '& Co.', 'Houghton, Mifflin & Co.']
[]
[]
[]
[]
[]
['J. B. Lippincott Co.', 'American Book Co.', 'Macmillan & Co.', 'Arena Company']
['Master House', 'Master House']
[]
[]
['Wagnails Company', 'Intensive Farming By Corbett New York Outing Publishing', 'Science By Federigo Enriques Chicago Open Court Pubpishing Co', 'Progressive Furnace Heating By Alfred King New York Sheet Metal Publishing', 'Company', 'Wagnails Company', 'Intensive Farming By Corbett New York Outing Publishing Company', 'Progressive Furnace Heating By Alfred King New York Sheet Metal Publishing Company']
[]
[]
[]
['New Shakespearean Society.', 'E. P. Dutton & Co.', 'Dodd, Mead & Co.', 'E. P. Dutton & Co.', 'Small, Maynard & Co.']
[]
[]
['New York Treat Co', 'New York Treat Co', 'New York Lea Brothers Co']
[]
[]
[]
[]
[]
[]
['A Group', 'Browning Society']
['Bibliography. The Grafton Press']
[]
[]
[]
['House']
['Present. Biy T. T. Timayenis.JI. Appleton & Co.']
[]
['Riverside Press']

In [13]:
review_df = pd.DataFrame()

In [16]:
review_df['review_obj'] = review_list

In [21]:
review_df['aps_id'] = [x.review_id for x in review_list]

In [22]:
review_df['cleaned_text'] = [x.cleaned_text for x in review_list]

In [23]:
review_df['pubs'] = [x.pub_names for x in review_list]

In [24]:
review_df['people'] = [x.person_names for x in review_list]

In [25]:
review_df.head()

,review_obj,aps_id,cleaned_text,pubs,people
0,<application.review_obj_class.ReviewObj object...,136726613,LITERARY NOTES. -The Chautauqua department of ...,"[E. P. Dutton & Co., A. S. Barnes & Co., Ginn,...","[Mr. Charles Dudley Warner, Mr. Vedder, Profes..."
1,<application.review_obj_class.ReviewObj object...,90142613,THE GADFLY.* DEARTH of good novels has been fe...,[The Gadfly. By E. L. VWynich. Henry Holt & Co.],[Mr. E. L. Voynich]
2,<application.review_obj_class.ReviewObj object...,90390665,TWO READABLE NOVELS.* Miss HowAiD ' Is u' W st...,[],"[Miss HowAiD, Mrs. A. L. Wister, Princess Merc..."
3,<application.review_obj_class.ReviewObj object...,124486140,Tinl OF OF ISlPAIHAiN have long enjoyed a as o...,[],[Dr. Atwood]
4,<application.review_obj_class.ReviewObj object...,126315326,Cadet's HIa(ldbook. A Manual for Military Stud...,[],[]