In [1]:
import sys
sys.path.append('../')

In [2]:
from application.name_obj_classes import PubName, PersonName

In [3]:
from application.review_obj_class import ReviewObj

In [4]:
import pandas as pd
import os

In [5]:
# loading in files
directory = "../../aps_reviews_50/aps_reviews/"
filenames = os.listdir(directory)
txts = []
for file in filenames:
    with open(directory + file) as f:
        txts.append(f.read())

In [6]:
review_list = []
for filename, txt in zip([x.split('.')[0] for x in filenames], txts):
    review_list.append(ReviewObj(filename, txt))

In [7]:
for x in review_list:
    print(x.pub_names)

['Cassell & Co.', 'E. P. Dutton & Co.', 'Thomas Y. Crowell & Co.', 'American Historical Society', 'Dunlap Society']
[]
[]
[]
[]
['Filtlh Co']
['KnRR & Co', 'PUBLrISHIING Co', 'American Geographical Society', 'B. LIPizxcoTr & Co', 'B. LpnIrrcorr & Co.']
[]
[]
[]
[]
[]
[]
[]
['Blakiston Co', 'Robert Clarke Co', 'Graphic Company']
['Century Co.', 'Slead & Co.', 'B. Lippincott Co.', 'Macmillan Co.', 'Maemillall Co.']
['Sou & Co.']
['Macmillan & Co.', 'Mifflin & Co.']
[]
[]
[]
[]
[]
['B. Lippincott Co.', 'Macmillan & Co.', 'Friend Society']
['Master House', 'Master House']
[]
[]
['Funk and Wagnails Company', 'Outing Publishing', 'Outing Publishing Company', 'Open Court Pubpishing Co', 'Sheet Metal Publishing', 'Sheet Metal Publishing Company']
['Macmillan & Co.']
[]
[]
['Shakespearean Society.', 'E. P. Dutton & Co.', 'Maynard & Co.']
['Macmillan & Co.']
[]
['William Wood Company', 'Treat Co', 'Lea Brothers Co']
['Wm Wood Co', 'Wm Wood Co Publishers']
[]
[]
[]
['The Macmillan Co.', 'E. P. Dutton & Co.']
[]
['CroweU & Co.', 'Browning Society']
[]
[]
[]
['The Macmillan Company']
['Senate and House']
[]
[]
['AtiSlin & Co.']

In [8]:
review_df = pd.DataFrame()

In [9]:
review_df['aps_id'] = [x.review_id for x in review_list]

In [10]:
review_df['cleaned_text'] = [x.cleaned_text for x in review_list]

In [11]:
review_df['cleaned_toks'] = [x.cleaned_toks for x in review_list]

In [12]:
review_df['pubs'] = [x.pub_names for x in review_list]

In [13]:
review_df['people'] = [x.person_names for x in review_list]

In [14]:
review_df.head()

,aps_id,cleaned_text,cleaned_toks,pubs,people
0,136726613,LITERARY NOTES. - The Chautauqua department o...,"[LITERARY, NOTES, ., -, The, Chautauqua, depar...","[Cassell & Co., E. P. Dutton & Co., Thomas Y. ...","[Mr. Charles Dudley Warner, Mr. Vedder, Profes..."
1,90142613,THE GADFLY.* DEARTH of good novels has been fe...,"[THE, GADFLY, ., *, DEARTH, of, good, novels, ...",[],[Mr. E. L. Voynich]
2,90390665,TWO READABLE NOVELS.* Miss HowAiD ' Is u' W st...,"[TWO, READABLE, NOVELS, ., *, Miss, HowAiD, ',...",[],"[Miss HowAiD, Mrs. A. L. Wister, Princess Merc..."
3,124486140,Tinl OF OF ISlPAIHAiN have long enjoyed a as o...,"[Tinl, OF, OF, ISlPAIHAiN, have, long, enjoyed...",[],[Dr. Atwood]
4,126315326,Cadet's HIa(ldbook. A Manual for Military Stud...,"[Cadet, 's, HIa, (, ldbook, ., A, Manual, for,...",[],[]